.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/Hero.jpg');
    background-size: cover;
    background-position: center;
    height: 90dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-content {
    text-align: center;
    color: #fff;
}

.hero-content h1 {
    font-size: 5rem;
    margin-bottom: 1rem;
}

.hero-content p {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.hero-content a {
    padding: 0.8rem 2rem;
    font-size: 1.2rem;
    background-color: #fff;
    color: #262626;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

.hero-content a:hover {
    background-color: #262626;
    color: white;
}