.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 60px;
    text-align: center;
    background-color: rgba(5, 29, 82, 0.96);
}
.choice {
    flex: 1;
    text-decoration: none;
    outline-color: transparent;
    text-align: center;
    line-height: 3;
    font-size: large;
    color: white;
}
.choice:hover {
    background-color: #100f0f;
}
.choice:target {
    background-color: black;
}
