{% extends 'admin/index.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/sidebar.css') }}">
    <link rel="stylesheet" href="{{ asset('css/card.css') }}">
{% endblock %}

{% block content %}
    <style>
        body{
            background-image: none;
            background-color: white;
        }
    </style>
    {% for message in app.flashes('success') %}
        {% if message is not null %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}

    {% for message in app.flashes('error') %}
        {% if message is not null %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}

    {% include 'cards.html.twig' with {'aparts': aparts, 'admin': true} %}
{% endblock %}
