{% extends 'admin/index.html.twig' %}

{% block content %}
    <form method="POST">
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="mail" name="email">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Admin</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
{% endblock %}