{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/Post.css') }}">
{% endblock %}

{% block title %}RentYourHouse{% endblock %}

{% block body %}
    <div class='post'>
        <div>
            <h2>Please Enter the information below:</h2>
        </div>
        <div>
            <form method="POST" >
                <label class="form-label">
                    Title :
                    <input class="form-control" type="text" name="title" value="" required/>
                </label>
                <br />
                <label class="form-label">
                    Description:
                    <input class="form-control" type="text" name="description" value="" />
                </label>
                <br />
                <label class="form-label">
                    Price :
                    <input class="form-control" type="number" name="price" value="" required/>
                </label>
                <br />
                <label class="form-label">
                    Image Link :
                    <input class="form-control" type="text" name="coverImg" value=""  required/>
                </label>
                <br />
                <label class="form-label">
                    Location :
                    <input class="form-control" type="text" name="location" value="" required/>
                </label>
                <br />
                <label class="form-label">
                    Open spots :
                    <input class="form-control" type="number" name="openSpots" value="" required/>
                </label>
                <button class='sub' type="submit">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}