<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1>Welcome to Your Website</h1>
                <p>This is a brief description of your website.</p>
            </div>
            <div class="col-lg-6">
                <img src="Hero.jpg" alt="Hero Image">
            </div>
        </div>
    </div>
</section>
