{% extends 'base.html.twig' %}
 
{% block stylesheets %}
    <link rel="stylesheet" href={{ asset('css/card.css') }}>
    <link rel="stylesheet" href={{ asset('css/Hero.css') }}>
    <link rel="stylesheet" href={{ asset('css/style.css') }}>
{% endblock %}
 
{% block javascripts %}
{% endblock %}

{% block title %}Home{% endblock %}

{% block body %}
{% include 'hero.html.twig' %}

<div id='cards-list' class="cards-list">
{% for apart in aparts %}
<a style="text-decoration: none" href="{{ path('app_details_page',{id: apart.id}) }}"><div id='cards-list' class="cards-list">
{% set badgeText = (apart.openSpots > 0) ? 'Available now!' : 'Not Available!' %}
    {% include 'card.html.twig' with {
        'id': apart.id,
        'title': apart.title,
        'description': apart.description,
        'price': apart.price,
        'coverImg': apart.coverImg,
        'rating': apart.rating,
        'reviewCount': apart.reviewCount,
        'location': apart.location,
        'openSpots': apart.openSpots,
        'badgeText': badgeText
    } %}
</div></a>
{% endfor %}
</div>

{% endblock %}