<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">RentAway</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    {% if session.username %}
                    <a class="nav-link" href="/post">Rent your House</a>
                    {% else %}
                <a class="nav-link" href="/login">Rent your House</a>
                    {% endif %}
                </li>
                {% if session.role == "admin" %}
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Admin Dashboard</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="/edit">Manage your posts</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                {% if session.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('logout') }}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('login') }}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
